*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    height: 100vh;
    background: url(./img/counter-img.webp) center;
    background-size: cover;

}

.main h1{
    text-align: center;
    color: red;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: rbg(0,0,0,0.1);
}